In [ ]:
"""id()
type()
eval()
input()'''

In [1]:
print("happiest birthday bestie")
print("u r getting old")

happiest birthday bestie
u r getting old

In [7]:
def happy_birthday(name,age):
    print(f"happiest birthday bestie {name}")
    print(f"u r getting old {age}")
happy_birthday("harsha",22)
happy_birthday("pranay",21)
happy_birthday("darshan",21)

happiest birthday bestie harsha
u r getting old 22
happiest birthday bestie pranay
u r getting old 21
happiest birthday bestie darshan
u r getting old 21

In [13]:
def congratulations(car,cost):
    print(f"congratulatons you won a car {car}")
    print(f"with a cash prize of  {cost}")
congratulations("bolera",2000000)
congratulations("tata",1900000)
congratulations("nano",1110000)

congratulatons you won a car bolera
with a cash prize of  2000000
congratulatons you won a car tata
with a cash prize of  1900000
congratulatons you won a car nano
with a cash prize of  1110000

In [22]:
#POSITIONAL ARGUMENTS
def greet(name,age):
   print(f"hello {name},you are {age} years of old")
greet("sameer",20)
greet(27,"srujan")

hello sameer,you are 20 years of old
hello 27,you are srujan years of old

In [27]:
def wish(pappa,ammi):
    print(f" wishing you a happy anniversary {pappa} and {ammi} ")
wish("pappa","ammi")

 wishing you a happy anniversary pappa and ammi

In [25]:
#KEYWORD ARGUMENTS
def greet(name,age):
    print(f"hi {name},you are {age} years of old")
greet(age=20,name="sameer")

hi sameer,you are 20 years of old

In [2]:
def college(city,mndl=1):
    print(f" {city} is  {mndl} is in telangana")
college("hnk","mndl")

 hnk is  mndl is in telangana

In [48]:
def hbd(*names):
    for name in names:
        print(f"hello{names}")
hbd("pranay","sameer","rizwan")#it turned it in to tuple

hello('pranay', 'sameer', 'rizwan')
hello('pranay', 'sameer', 'rizwan')
hello('pranay', 'sameer', 'rizwan')

In [53]:
#**keyword arguments
def hi(**hellow):
    for key,value in hellow.items():
        print(f"{key},{value}")
hi(name="sam",age=20,city="hyd")

name,sam
age,20
city,hyd

In [60]:
#keyword only argument
def greet(name,*,age):
    print(f"hi {name},you are {age} years of old")
greet("sam",age=20)

hi sam,you are 20 years of old

In [64]:
#arbitary argumrnts(*args and **kwargs)
def hi(*names,**info):
    for name in names:
        print(f"hello {name}")
    for key,value in info.items():
        print(f"{key},{value}
hi("sam","pranay",age=78,city="hyd")

hello sam
hello pranay
age,78
city,hyd

In [81]:
def wish(name):
    name=name.split()
    print(f"wishing u all the best {name}")
name=input("enter your name")
wish(name)

enter your name sameer

wishing u all the best ['sameer']

In [102]:
def merge_lists(list1, list2):
    return list1 + list2

list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = merge_lists(list1, list2)
print(f"Merged List: {merged_list}")
merge_lists(list1,list2)

Merged List: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [106]:
def merge_lists(list1, list2):
    return list1 + list2
l1=eval(input("enter any list"))
l2=eval(input("enter any list"))
    

merged_list = merge_lists(l1, l2)
print(f"Merged List: {merged_list}")
merge_lists(list1,list2)

enter any list [8,9,7]
enter any list [8,7,6]

Merged List: [8, 9, 7, 8, 7, 6]

[1, 7, 9, 8, 6, 5]

In [114]:
def invoice(user_name,amount,due_date):
    print(f"username:{user_name}")
    print(f"amount:{amount}")
    print(f"due_date:{due_date}")
invoice("pranay",9087,"12-12-2024")

username:pranay
amount:9087
due_date:12-12-2024

In [4]:
def name(fname,lname):
    fname=fname.capitalize()
    lname=lname.capitalize()
    print(f"fullname:a+  + b")
a=input("enter firstname:")
b=input("enter lastname:")
name(a,b)

enter firstname: sameee
enter lastname: shaik

fullname:a+  + b

In [145]:
def merge_names(first_name, last_name):
    return f"{first_name} {last_name}"
first = "sameer"
last_name = "shaik"
full_name = merge_names(first,last)
print(full_name)

sameer shaik

In [3]:
def add(a,b):
    r=a+b
    print(f" addition =",r)
o=int(input("enter any value:"))
p=int(input("enter any value:"))
add(o,p)

enter any value: 1
enter any value: 23

 addition = 24

In [31]:
def find_avg_marks(marks):
    sum_num=sum(marks)
    total=len(marks)
    avg=sum_num/total
    return avg
def compute_grade(avg):
    if avg>=80:
        grade='A'
    elif avg>=70:
        grade='B'
    elif avg>=60:
        grade='c'
    else:
        grade='d'
    return grade

marks=[100,62,73,94,55,86,87,78,99,100]
avg=find_avg_marks(marks)
print(f" the average is",avg)
grade=compute_grade(avg)
print("your grade is :",grade)

 the average is 83.4
your grade is : A

In [49]:
def avg_marks(marks):
    sum_n=sum(marks)
    t=len(marks)
    avg=sum_n/t
    return avg
def want(asd):
    if marks>=90:
        grade='A'
    elif marks>=80:
        grade='B'
    elif marks>=70:
        grade='c'
    else:
        grade='d'
    return grade
marks=[81,79,88,88,90,89,81,98]
asd=avg_marks(marks)
print(f" average is ",asd)
grade=want(asd)
print(f" your grade is ",grade)

 average is  86.75

TypeError: '>=' not supported between instances of 'list' and 'int'