In [3]:
a={12,23,45,56}
print(a)
print(type(a))

{56, 12, 45, 23}
<class 'set'>

In [ ]:
'''
add()
update()
copy()
pop()
remove()
discard()
#set important functions

In [10]:
s={
    10,20,30
}
print(s)
print(type(s))#dictionaries in set

{10, 20, 30}
<class 'set'>

In [12]:
a=set((23,34,5,6,67))#double parenthesis is also applicable
a.add(59)
print(a)

{34, 67, 5, 6, 23, 59}

In [15]:
a={1,2,3,4,5,6,7}
a.discard(1)#only one can be removed 
print(a)

{2, 3, 4, 5, 6, 7}

In [1]:
a={23,34,45,56,}
a.remove(23)
print(a)

{56, 34, 45}

In [43]:
a={"sam",90.0,87,"samm","hui"}
b=a.pop()
print(b)

samm

In [39]:
a={120,121,122,123}
a.discard(120)
print(a)
a.discard(124)
print(a)

{121, 122, 123}
{121, 122, 123}

In [63]:
a={12,13,34,5}
a.update([34,90])
print(a)

{34, 5, 12, 13, 90}

In [50]:
a={"hyd","delhi","mumbai"}
b={"surat","chennai"}
print(a.union(b))

{'chennai', 'surat', 'mumbai', 'hyd', 'delhi'}

In [54]:
a={"hyd","delhi","mumbai"}
b={"surat","chennai"}
print(a|b)
print(a.union(b)) #prints all values

{'chennai', 'surat', 'mumbai', 'hyd', 'delhi'}
{'chennai', 'surat', 'mumbai', 'hyd', 'delhi'}

In [56]:
a={"hyd","delhi","mumbai","surat"}
b={"surat","chennai"}
print(a.intersection(b))#prints only common value

{'surat'}

In [57]:
a={'w','e','r','q'}
b={'w','r','s'}
print(a.difference(b))#prints only difference of a

{'e', 'q'}

In [62]:
a={0.01,0.02,0.009,0.08}
b={0.02,0.03,0.04,0.009}
print(a.symmetric_difference(b))#doesnt print the common value
print(a^b)

{0.03, 0.08, 0.01, 0.04}
{0.03, 0.08, 0.01, 0.04}

In [65]:
a={89,0,98,54}
b=a.copy()
print(b)

{0, 89, 98, 54}

In [66]:
a={True,False}
a.clear()
print(a)

set()

In [69]:
#membeship operators
a=("sam")
print(a)
print("a" in a)
print("m" in a )
print("m" not in a)

sam
True
True
False

In [78]:
#wap to eliminate duplicates in the present list
a=eval(input(" please enter any  (set/list/tuple):"))
b=set(a)
c=list(a)
d=tuple(a)
print(b)
print(c)
print(d)

 please enter any  (set/list/tuple): [12,23,4,56,]

{56, 12, 4, 23}
[12, 23, 4, 56]
(12, 23, 4, 56)