In [7]:
a='hyderabad'
b="hyderabad"
c="""hyderabad"""

In [6]:
x='a'
print(type(x))
x="a"
print(type(x))

<class 'str'>
<class 'str'>

In [8]:
x="python is a high-level programmming language"
print(x)

python is a high-level programmming language

In [ ]:
x='python 'is a high-level' programmming language'
print(x)# single quote inside single quote

In [10]:
x="python 'is a high-level' programmming language"
print(x)  #single quote inside double quote

python 'is a high-level' programmming language

In [20]:
x=""" hyderabad is 'metropolitan city' """
print(x)#single quote inside triple-double quotes

 hyderabad is 'metropolitan city'

In [2]:
x='hyderabad is a  "metropolitan" city'
print(x)#double quote inside single quote

hyderabad is a  "metropolitan" city

In [160]:
a='the"""python notes"prepared """by'
print(a)#invalid condition #3 in 1

the"""python notes"prepared """by

In [161]:
x='hyderabad\"""is metropolitan"""\ city'
print(x) #3 in 1

hyderabad"""is metropolitan"""\ city

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\SHAIK SAMEER\AppData\Local\Temp\ipykernel_21376\3649438343.py:1: SyntaxWarning: invalid escape sequence '\ '
  x='hyderabad\"""is metropolitan"""\ city'

In [3]:
x="hyderabad\"""is metropolitan"""\ city"
print(x)  #3 in 2

SyntaxError: unexpected character after line continuation character (471940461.py, line 1)

In [3]:
x="""hyderabad\"""is metropolitan"""\ city"""
print(x)  #3 in 2 #invalid

SyntaxError: unexpected character after line continuation character (471940461.py, line 1)

In [38]:
x='the\"python"\by'
print(x)  #double quotes inside single quote

the"python"y

In [32]:
#acessing characters
s="sameer"
print(s[0]) #POSITIVE index (starts from0)
print(s[1])
print(s[-1])#NEGATIVE index (starts from -1)

s
a
r

In [ ]:
#syntax
[start:stop:step]

In [7]:
a='sruniversity EEE batch third year'
print(a)
print(a[2:10:2]) #syntax [start:stop:step] #begining is with given startindex but ending up b4 given stop index
print(a[0:4])    #up to third character 
print(a[1:6])
print(a[0::4]) #every fourth char of the string
print(a[-10:-8:-3])#invalid
print(a[-1:])#whatever the nature of starting index is (-1 or 1),it will start from that particular digit only
print(a[0:])#in +ve case of index even though the last index isnt mentioned its to enough to get printed the whole string
print(a[16:-11:1])
print(a[-16:-11:1])

sruniversity EEE batch third year
uies
srun
runiv
sis  ch r

r
sruniversity EEE batch third year
 batch
batch

In [73]:
a="Ram"
b="Zan"
print(a+b)#addition of strings

RamZan

In [83]:
a="kazipet"
b="hanamkonda"
c="warangal"
print(a,b,c)
print(a+b+c)
print('a'+'b'+'c')
print(a+'b'+c)
print("a"+b+c)
print(a+''+b+''+c)

kazipet hanamkonda warangal
kazipethanamkondawarangal
abc
kazipetbwarangal
ahanamkondawarangal
kazipethanamkondawarangal

In [87]:
a='h_y_d_e_r_a_b_a_d'
print(a*2)

h_y_d_e_r_a_b_a_dh_y_d_e_r_a_b_a_d

In [89]:
a='Tamilnadu'
print('T' in a)
print('d'in a)

True
True

In [91]:
a='jammu kashmir'
print('j' not in a)
print('l' not in a)

False
True

In [92]:
a='jammu kashmir'
print(len(a))

13

In [93]:
a='jammu kashmir'
print(a.upper())

JAMMU KASHMIR

In [2]:
a='TAMILNADU'#single
print(a.lower())
a="TAMILNADU"#double
print(a.lower())
a="""TAMILNADU"""
print(a.lower())#triple

tamilnadu
tamilnadu
tamilnadu

In [98]:
a="""animal"""
print(a.capitalize())
a='Anumakonda'
print(a.capitalize())

Animal

In [101]:
a='Anumakonda'
print(a.capitalize())

Anumakonda

In [104]:
a="google"
print(a.title())

Google

In [106]:
a='sameer'
b='SAMEER'
print(a.swapcase())
print(b.swapcase())

SAMEER
sameer

In [107]:
a='The city of Pearls "hyderabad"'#double quote inside single-quote
print(a.swapcase())

tHE CITY OF pEARLS "HYDERABAD"

In [4]:
a=('mulugu')
print(a.isalpha())
a=("mulugu")
print(a.isalpha())
a=(""" mulugu """) #space couldn't be taken
print(a.isalpha())

True

In [119]:
a='python'
print(a.isdigit())

False

In [124]:
#isdigit()
a='python'
print(a.isdigit())
a='2.2,2.3,2.1'
print(a.isdigit())
a='222'
print(a.isdigit())

False
False
True

In [128]:
a='python477'
print(a.isalnum())
n='python 4 7 7'
print(n.isalnum()) #spaces and dots doesnt work
k='python 4.7.7'
print(k.isalnum())

True
False
False

In [129]:
a='hussain'
print(a.islower())

True

In [6]:
a='H U S S A I N'
print(a.isupper())
a='H U S S A '
print(a.isupper())
a="HUSSAIN"
print(a.isupper())
a="HUssaIN"
print(a.isupper())

True
True
True
False

In [140]:
a="Hussain"
print(a.istitle())#only first letter should be capital 
a="ussain"
print(a.istitle())

True
False

In [7]:
a="atamakoor"
print(a.isspace())
a='    '
print(a.isspace())
a=' python '
print(a.isspace())

False
True
False

In [155]:
a="atamakoor   "
b="sam"
print(a+b)
print(b.rstrip()+a)

atamakoor   sam
samatamakoor

In [166]:
a="   shaik"
b="sameer"
print(a.lstrip()+b)
print(a+b)

shaiksameer
   shaiksameer

In [168]:
#lstrip
a='pyth on'
b='  sr  i  '
print(a+b)
print(a.lstrip()+a)

pyth on  sr  i
pyth onpyth on

In [170]:
#count
a='pyython'
print(a.count('y'))

2

In [173]:
a='nothing is impossible'
print(a.count('i'))
print(a.count('m'))
print(a.count('y'))

4
1
0

In [180]:
#index()
s='artificial intelligence'
z='machine learning'
print(s.index('i'))
print(z.index('m'))
print(a.index('z'))  #unknown value couldnt be counted

3
0

ValueError: substring not found

In [185]:
a="husnabad"
b=a.replace('hus','pus')
c=a.replace('husnabad','himayathnagar')
print(b)
print(c)

pusnabad
himayathnagar

In [9]:
o='do die'
t=o.split()
print(t)
print(type(o))
print(type(t))#written type of split type is list type(output)

['do', 'die']
<class 'str'>
<class 'list'>

In [196]:
s='python is a high level language'
d=s.split()
for i in d:
    print(i)

python
is
a
high
level
language

In [199]:
s='20-12-2024'
f=s.split()
for i in f:
    print(i)

20-12-2024

In [10]:
quote=['this','is','my','journey']
fact='-'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact=':'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact='~'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact=';'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact='_'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact='#'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact='$'.join(quote)
print(fact)
quote=['this','is','my','journey']
fact='%'.join(quote)
print(fact)

this-is-my-journey
this:is:my:journey
this~is~my~journey
this;is;my;journey
this_is_my_journey
this#is#my#journey
this$is$my$journey
this%is%my%journey

In [12]:
#replacement operator{} format()
a=12
b=11
c=(a+b)

print('the sum of {} and {} is {}'.format(a,b,c))

the sum of 12 and 11 is 23

In [232]:
name='raju'
salary=700000
age=23
print("{}'s salary is {} and his age is {}".format(name,salary,age))

raju's salary is 700000 and his age is 23

In [245]:
num_of_eggs=int(input("enter number of eggs:"))
each_egg_cost=int(input("enter each egg cost:"))
total_cost=num_of_eggs*each_egg_cost
print("{} eggs each_egg_cost is {} and total_cost is {}".format(num_of_eggs,each_egg_cost,total_cost))

enter number of eggs: 10
enter cost: 50

10 eggs each_egg_cost is 50 and total_cost is 500

In [267]:
#wap to find number of elements in a list
a=[4,8,9,90,8]
print(sum(a))
s=0
for i in a:
    s=s+1
    print(s)

119
1
2
3
4
5

#####

In [270]:
num=[1,7,8,9]
lowest=min(num)
print(lowest) #min by method1

1

In [273]:
num=[1,7,8,9]
maximum=max(num)
print(maximum) #max by method1

9

In [269]:
a=[4,8,9,90,8]
print(min(a))
s=0
for i in a:
    s=s+1
    print(s)#min by method-2  by using for loop

4
1
2
3
4
5

In [268]:
a=[4,8,9,90,8]
print(max(a))
s=0
for i in a:
    s=s+1
    print(s)##max by method-2  by using for loop

90
1
2
3
4
5